# Maintain a consistent coding style throughout the entire project codebase to
# ensure readability and maintainability.  Consistent style not only improves
# collaboration but also makes the code easier to review and debug.

# This configuration is for C/C++ code style formatting used by clang files, and
# the rules are applied to all code in the entire project, including all C++
# example demo programs, the main C demo project, and the library that is
# developed on this repository.  This configuration is based on Google C++ style
# guide, and customized for my own preferences.  These settings are mirrored in
# the .editorconfig file.  Keep them in sync.

# The rules are still a work in progress and subject to change.  I still need
# to think about this configuration, and for now this is a base template.

---
Language: Cpp
BasedOnStyle: Google

# Custom preferences
ColumnLimit: 80
IndentWidth: 4
UseTab: Never

# Align consecutives
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive

# Align escaped newlines for the left
AlignEscapedNewlinesLeft: true

# Align trailing comments
AlignTrailingComments: true

# Short function style
AllowShortFunctionsOnASingleLine: None

# Braces to surrounding context
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Always
  AfterFunction: true
  AfterNamespace: false
  BeforeCatch: true
  BeforeElse: true
BreakBeforeBraces: Custom

# Update namespace comments
FixNamespaceComments: true

# Align pointer to the right
PointerAlignment: Right

# Same as Black in Python
SpacesBeforeTrailingComments: 2

# Sorting includes
SortIncludes: CaseSensitive
