# Maintain a consistent coding style across the entire project by maintaining a consistent style.

# This configuration is for the .clang-format file, which is a YAML file defining formatting styles
# used by clang-format.  The rules are applied to all code in the entire project, including all CPP
# example demo programs, the main C demo project, and the library that is developed on this
# repository.  This configuration is based on Google CPP style guide, and customized for my own
# preferences.  These settings are mirrored in .editorconfig file.  Keep them in sync.

# The rules are still a work in progress and subject to change.  I still need to think about this.

---
Language: Cpp
BasedOnStyle: Google

# Custom preferences
ColumnLimit: 100
IndentWidth: 4
UseTab: Never

# Align consecutives
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive

# Align escaped newlines for the left
AlignEscapedNewlinesLeft: true

# Align trailing comments
AlignTrailingComments: true

# Short function style
AllowShortFunctionsOnASingleLine: None

# Braces to surrounding context
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Always
  AfterFunction: true
  AfterNamespace: false
  BeforeCatch: true
  BeforeElse: true
BreakBeforeBraces: Custom

# Update namespace comments
FixNamespaceComments: true

# Align pointer to the right
PointerAlignment: Right

# Same as Black in Python
SpacesBeforeTrailingComments: 2

# Sorting includes
SortIncludes: CaseSensitive
