# Maintain a consistent coding style across the entire project by maintaining a consistent style.

# This file is a configuration for clang-tidy check options that allow to write height quality code,
# and better readability naming for better understanding the codebase, and the problem that you are
# going to solve.

# The rules are still a work in progress and subject to change.  I still need to think about this.

---
Checks: "-*,
  bugprone-*,
  modernize-*,
  performance-*,
  readability-*
  "

CheckOptions:
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.GlobalVariableCase
    value: UPPER_CASE
  - key: readability-identifier-naming.MemberCase
    value: camelBack
  - key: readability-identifier-naming.StructCase
    value: camelBack
  - key: readability-identifier-naming.UnionCase
    value: CamelCase
  - key: readability-identifier-naming.VariableCase
    value: camelBack

WarningsAsErrors: "*"
