# Dependency
node_modules
npm-debug.log

# Container
Dockerfile
Dockerfile.dev
Dockerfile.prod
Dockerfile.test

*.dockerfile
*.dockerfile.dev
*.dockerfile.prod
*.dockerfile.test

# Kubernetes
manifest.yaml
deploy.yaml

manifest.yml
deploy.yml

nginx.config

# Markdown
README.md
CHANGELOG.md

# Environment
.env

.env.test
.env.local
.env.secret
.env.development
.env.staging
.env.production
.env.dev
.env.stage
.env.prod
.env.ci
.env.demo
.env.backup

.env.*.test
.env.*.local
.env.*.secret
.env.*.development
.env.*.staging
.env.*.production
.env.*.dev
.env.*.stage
.env.*.prod
.env.*.ci
.env.*.demo
.env.*.backup

# Other
build*
.next
.git
.gitignore
.dockerignore
.mypy_cache
.cache
.docker
