# Defined base templates for ignore files for docker build.

# Dependency
node_modules/
npm-debug.log

# Container
Dockerfile
Dockerfile.*
*.dockerfile

# Kubernetes
*deploy*.y*ml
nginx.config

# Markdown
README.md
CHANGELOG.md

# Environment
.env
.env.*

# Other
build*
manifest*
.cache
.docker
.dockerignore
.editorconfig
.eslintcache
.eslintignore
.eslintrc
.git
.gitignore
.next
.mypy_cache
.prettierrc
.versionrc
