{
  "extends": ["next/core-web-vitals", "eslint:recommended"],
  "plugins": ["header"],
  "rules": {
    "no-undef": "off",
    "indent": ["error", 4],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "double"],
    "semi": ["error", "always"],
    "header/header": ["error", "line", [
      " Copyright (c) 2024-2025 Marcin Różewski, Amarokelab.",
      " All rights reserved."
    ], 2]
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest"
  }
}
