// Copyright © 2023 MDSANIMA

// Custom alias definitions. This file must be include on `.bashrc` file.

// Aliases for SSH connection to my home lab host.
alias rpi0='ssh mdsanima@192.168.1.27'
alias rpi1='ssh mdsanima@192.168.1.32'
alias rpi2='ssh mdsanima@192.168.1.34'
alias rpi3='ssh mdsanima@192.168.1.20'
alias rpi4='ssh mdsanima@192.168.1.33'
alias rpi5='ssh mdsanima@192.168.1.37'
alias rpi6='ssh mdsanima@192.168.1.35'
alias rpi7='ssh mdsanima@192.168.1.36'
alias jet1='ssh mdsanima@192.168.1.24'
alias jet2='ssh mdsanima@192.168.1.30'
alias macb='ssh mdsanima@192.168.1.44'

// Aliases for the weather script.
alias weahter='mdsanima-weather'
alias pogoda='mdsanima-weather Zawiercie'

// Aliases for the K3S Clusters.
alias k='kubectl'
