# Copyright (c) 2023-2024 MDSANIMA DEV. All rights reserved.
# Licensed under the MIT license.

# This is a configuration file for Commitlint that makes sharing commit conventions easy.
# These are the default reference rules; see the docs: https://commitlint.js.org/#/reference-rules/
# What is Commitlint? See help: https://github.com/conventional-changelog/commitlint/#what-is-commitlint/


# For local usage, you can simply run the `commitlint` command in the terminal, which is the command-line tool to
# validate commits. This configuration file is also used for the GitHub Actions workflow that validates the
# last commit message in the pull request. The workflow file is in the `.github/workflows` folder.
#
# Installing the Commitlint CLI locally, adding the rules configuration, and finally using the CLI in the terminal:
#     npm install -g @commitlint/cli
#     cp .commitlintrc /project/path/.commitlintrc
#     echo "fix: Remove variable" | commitlint -V
#     commitlint --from=HEAD~1 --to=HEAD --verbose
#
# Commitlint setup with the `extends: ["@commitlint/config-conventional"]` option is not required. But if you didn't
# use the entire configuration from the official reference rules site, you can use it for the Commitlint extra rules.
#
# Example configuration:
#    extends: ["@commitlint/config-conventional"]
#    rules:
#      subject-case: [2, never, [sentence-case, start-case, pascal-case, upper-case]]
#
# This Commitlint configuration setup includes rules for Commitlint from the official reference rules site
# and from the `@commitlint/config-conventional` default rules examples. For more info, see the links below this file.


# Commitlint setup
rules:
  type-enum: [2, always, [build, chore, ci, docs, feat, fix, perf, refactor, revert, style, test]]
  type-case: [2, always, lower-case]
  type-empty: [2, never]
  scope-case: [2, always, kebab-case]
  subject-case: [2, always, sentence-case]
  subject-empty: [2, never]
  subject-full-stop: [2, never, .]
  header-max-length: [2, always, 80]
  body-case: [2, always, sentence-case]
  body-leading-blank: [2, always]
  body-max-line-length: [2, always, 100]
  footer-leading-blank: [2, always]
  footer-max-line-length: [2, always, 100]
