[core]
	editor = nvim
	symlinks = true

[alias]
	st = status
	ci = commit --verbose
	co = checkout
	cb = checkout -b
	cm = checkout main
	br = branch
	bd = branch -D
	df = diff
	dh = diff HEAD
	lg = log -p
	lp = log --pretty=oneline

[include]
	path = ~/.gitcredentials

[init]
	defaultbranch = main

[commit]
	gpgsign = true
	verbose = true
