[alias]
	st = status
	ap = add -p
	ci = commit --verbose
	co = checkout
	cb = checkout -b
	cm = checkout main
	br = branch
	bd = branch -D
	df = diff
	dh = diff HEAD
	lo = log -p
	ll = log --pretty=oneline
	prune-branches = git branch -l | grep -v 'main' | xargs -r git branch -D
[commit]
	gpgsign = true
	verbose = true
[core]
	editor = nvim
	symlinks = true
[include]
	path = ~/.gitcredentials
[init]
	defaultbranch = main
[pull]
	rebase = true
[push]
	default = simple
[rerere]
	enabled = true
