# Copyright (c) 2023-2024 MDSANIMA DEV. All rights reserved.
# Licensed under the MIT license.

# This is a configuration file for code linting in Python package.


[MASTER]
ignore=.git,flake8.egg-info,conf.py
ignore-patterns=.*_test.py,.*_tmp.py
jobs=4

[FORMAT]
max-line-length=120
ignore-long-lines=^\s+:([A-Za-z]+( [A-Za-z]+)+)_[A-Za-z]+:.*$
max-module-lines=1000

[DESIGN]
max-args=20
max-locals=30
max-returns=6
max-branches=20
max-statements=50
